body {
  font-family: "Nunito", sans-serif;
}
.video-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.overlay-image {
  position: absolute;
  z-index: 2;
  width: 120px;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 300px;
}
.content {
  font-family: "Nunito", sans-serif;
  position: relative;
  z-index: 1;
  color: white;
  position: absolute;
  top: 41%;
  left: 47%;
  font-size: 25px;
  text-shadow: 0px 0px 3px white, 0px 0px 5px white;
}
.box-image {
  position: absolute;
  z-index: 3;
  width: 73px;
  top: 56.5%;
  left: 45.5%;
  transform: translate(-50%, -50%);
  border-radius: 300px;
}
.profile-card {
  display: flex;
  position: absolute;
  top: 51%;
  left: 43%;
  width: max-content;
  color: #ffffff;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 12px 20px;
}

.avatar-wrapper {
  position: relative;
  margin-right: 12px;
}

.avatar {
  width: 73px;
  border-radius: 50%;
}

.status-dot {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 12px;
  height: 12px;
  background: green;
  border: 2px solid #111217;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.username {
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
}

.badge {
  background: #696969;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 12px;
  opacity: 0.9;
  margin-top: 20px;
  border: 1px solid #696969;
}

.activity {
  font-size: 14px;
  color: #a0a0a0;
  margin-top: 2px;
}
.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.social-icons {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  z-index: 4;
}
a img {
  width: 40px;
  height: 40px;
}

a img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  cursor: pointer;
}
